#start,
#finish{
	height: 50px;
	width: 200px;
	margin: 20px;
	background: #93ea2d;
	color: white;
	border-radius: 5px;
}
.wrapper{
	text-align: center;
	font-family: 'Shadows Into Light';
	background-color: grey;
	height: 760px;
	width: auto;
	margin: auto;
	padding: 10px;
	color: #93ea2d;
	background: url(../../assets/images/use.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
h1{
	font-size: 100px;
	font-family: 'Fascinate Inline', cursive;
}
#timer{
	color: red;
	font-family: 'Fascinate Inline', cursive;
	font-size: 35px;
}
input[type="radio"]{
  margin: 15px 20px;
}

